<div class="container col-lg-12 people">
  <div class="wrapper">
  <!-- Top NavBar -->
    <nav class="navbar navbar-default col-lg-12">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li class="logo"><a href="#/">HKSA</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">HOME</a></li>
            <li><a href="#/people">PEOPLE</a></li>
            <li><a href="#">EVENT</a></li>
            <li><a href="#">TRADE</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Menu icon -->
    <div class="dropdown menu_button">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#/">HOME</a></li>
        <li><a href="#/people">PEOPLE</a></li>
        <li><a href="#">EVENT</a></li>
        <li><a href="#">TRADE</a></li>
      </ul>
    </div>

    <!-- Main Banner on top -->
    <div class="main_cover col-lg-12">
      <div class="layer">
        <h2>Board Members</h2>
        <h4>2014 - 2015</h4>
      </div>
    </div>

    <!-- Current Board Members -->
    <div class="member col-lg-12">
      <div class="member_wrapper col-lg-offset-2 col-lg-8">
        <!-- President -->
        <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11695718_10207544320826553_8570685137873125755_n.jpg?oh=dcafe986a99e0099d005e8a6fdb5ac8f&amp;oe=56743A03'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Coco Yim</h5>
            <small>Biochemical Engineering '16</small>
            <h6>President</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>
        <!-- Internal VP -->
        <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/10580073_868353366537620_4262911341894066482_n.jpg?oh=d68f59c54e6b96e73740ff39bb6a678e&amp;oe=5664B5DF'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Ricardo Hoi</h5>
            <small>Math '16</small>
            <h6>Internal VP</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>
        <!-- Publication Director -->
        <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1795612_868353316537625_3084684109816553030_n.jpg?oh=4f6480085d414baa36a3d35d38bff4d2&amp;oe=56A7FC16'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Jordan Hau</h5>
            <small>Art and Design '16</small>
            <h6>Publication Director</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>
        <!-- Activities Director -->
        <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/6263_868353256537631_3746567002696512659_n.jpg?oh=213841cf89a250eb3cfaf4fe56d886ba&amp;oe=5673309C'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Betty Law</h5>
            <small>Econ '16</small>
            <h6>Activities Director</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>
        <!-- Communcation Director -->
         <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10390470_868353319870958_932839219677292373_n.jpg?oh=944a5cf7c9c4b5d891d4f1ca4433ae28&amp;oe=56672C6E'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Jacky Chu</h5>
            <small>BBA '16</small>
            <h6>Communications Director</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>
        <!-- Secretary -->
        <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10406837_868353253204298_7174506021760505636_n.jpg?oh=287c5041d552908760bef12aff750626&amp;oe=5662402C'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Davis Lam</h5>
            <small>Econ '16</small>
            <h6>Secretary</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>
        <!-- IT -->
        <div class="one_member col-lg-4 col-md-4 col-sm-4">
          <div class="member_pic col-lg-12" style="background: url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11130234_949957611710528_5216476824439394871_n.jpg?oh=beedcd458d38f21e186774fc082bf1a2&amp;oe=565EEB61'); background-size: cover;"></div>
          <div class="one_member_layer col-lg-12">
            <h5>Cherry Yeung</h5>
            <small>Econ '16</small>
            <h6>IT</h6>
            <div class="member_contact">
              <a href="#/"><span class="fa fa-facebook-official"></span></a>
              <a href="#/"><span class="fa fa fa-linkedin-square"></span></a>
            </div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>

    <!-- Previous Board Members -->
    <div class="previous_member col-lg-12">
      <div class="previous_member_wrapper col-lg-offset-2 col-lg-8">
        <h4>PREVIOUS BOARDS</h4>
        <h6>Our respectful forerunners</h6>
        <p class="index"><a class="2013-2014">2013-2014</a>/<a class="2012-2013">2012-2013</a>/<a class="2011-2012">2011-2012</a>/<a class="2010-2011">2010-2011</a></p>

        <!-- 2013-2014 -->
        <div class="one_previous col-lg-12">
          <h3>2013-2014</h3>
          <div id="2013-2014" class="one_previous_pic col-lg-offset-2 col-lg-8" style="background: url('http://umich.edu/~hksa/1314/board2013.jpg'); background-size: cover;"></div>
          <p class="one_previous_name col-lg-12">From left to right: Jason Leung, Wendy Ku, Jennifer Chow, Bill Chan, Aaron Lo, Vivien Yip, Winnie Chui, Rosa Ng, Fiona Ma</p>
        </div>
        <!-- 2012-2013 -->
        <div class="one_previous col-lg-12">
          <h3>2012-2013</h3>
          <div id="2012-2013" class="one_previous_pic col-lg-offset-2 col-lg-8" style="background: url('http://umich.edu/~hksa/1213/board2012.jpg'); background-size: cover;"></div>
          <p class="one_previous_name col-lg-12">From left to right: Jason Leung, Mabel Chan, Wendy Ku, Kenneth Ip, Alan Yuen, Samantha Yuen, Michael Siu, Katherine Lo, Skye Yeung</p>
        </div>
        <!-- 2011-2012 -->
        <div class="one_previous col-lg-12">
          <h3>2011-2012</h3>
          <div id="2011-2012" class="one_previous_pic col-lg-offset-2 col-lg-8" style="background: url('https://urbanfragment.files.wordpress.com/2012/09/the-law-quad-law-library-university-of-michigan-by-spencer-thomas.jpg'); background-size: cover;"></div>
          <p class="one_previous_name col-lg-12">Can someone send me a group picture?</p>
        </div>
        <!-- 2010-2011 -->
        <div class="one_previous col-lg-12">
          <h3>2010-2011</h3>
          <div id="2010-2011" class="one_previous_pic col-lg-offset-2 col-lg-8" style="background: url('http://umich.edu/~hksa/1011/group.JPG'); background-size: cover;"></div>
          <p class="one_previous_name col-lg-12">From left to right: Homan Tang, Raphael Lam, Kelvin Yuen, Euzane Lee, Kristie Wong, Keegan Ng, Keith Fong, Aaron Yan, Brian Lee</p>
        </div>
        <!-- Other previous board members will be added in the future -->
      </div>
    </div>
    <p class="testing"></p>
  </div>
</div>



















