<div class="container col-lg-12 trade">
  <div class="wrapper col-lg-offset-2 col-lg-8">
  <!-- Top NavBar -->
    <nav class="navbar navbar-default col-lg-12">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li class="logo"><a href="#/">HKSA</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">HOME</a></li>
            <li><a href="#/people">PEOPLE</a></li>
            <li><a href="#/event">EVENT</a></li>
            <li><a href="#/trade">TRADE</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Menu icon -->
    <div class="dropdown menu_button">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#/">HOME</a></li>
        <li><a href="#/people">PEOPLE</a></li>
        <li><a href="#/event">EVENT</a></li>
        <li><a href="#/trade">TRADE</a></li>
      </ul>
    </div>

    <!-- Main Banner on top -->
    <div class="main_cover col-lg-12">
      <div class="layer">
        <h2>Trade</h2>
        <h4 class="col-lg-offset-3 col-lg-6">Post your unwanted items and get what you want here!</h4>
      </div>
    </div>

    <!-- content -->
    <!-- The login/out and add item section -->
    <div class="item_wrapper col-lg-offset-2 col-lg-8">
      <div class="loginoutadd col-lg-12">
        <button type="button" class="sign_up btn btn-primary btn-lg" data-toggle="modal" data-target="#sign_up">
          SIGN UP
        </button>
        <button type="button" class="log_in btn btn-primary btn-lg" data-toggle="modal" data-target="#log_in">
          LOG IN
        </button>
        <button type="button" class="add_item btn btn-primary btn-lg" data-toggle="modal" data-target="#add_item">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

      <!-- Tab -->
      <ul class="nav nav-tabs tab" role="tablist">
        <li role="presentation" ng-init="show_all_item = true" ng-click="show_all_item = true" ng-class="show_all_item ? 'active' : ''"><a aria-controls="home" role="tab" data-toggle="tab">ALL ITEMS</a></li>
        <li role="presentation" ng-class="!show_all_item ? 'active' : ''" ng-click="show_all_item = false"><a aria-controls="profile" role="tab" data-toggle="tab">HEARTED</a></li>
      </ul>
      <!-- The items posted -->
      <div class="all_item col-lg-12" ng-show="show_all_item">
        
      </div>
      <!-- Hearted items -->
      <div class="hearted_item col-lg-12" ng-show="!show_all_item">
        
      </div>
    </div>
      
      <!-- Sign up -->
    <div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>SIGN UP</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">SIGN UP!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Log in modal -->
    <div class="modal fade" id="log_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>LOG IN</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">LOG IN!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add an item modal -->
    <div class="modal fade" id="add_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>POST AN ITEM</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">POST!</button>
          </div>
        </div>
      </div>
    </div>










  </div>
</div>
















