<div class="container col-lg-12 static_pages">
  <div class="wrapper">
  <!-- Top NavBar -->
    <nav class="navbar navbar-default col-lg-12">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li class="logo"><a href="#/">HKSA</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">HOME</a></li>
            <li><a href="#/people">PEOPLE</a></li>
            <li><a href="#/event">EVENT</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Menu icon -->
    <div class="dropdown menu_button">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#/">HOME</a></li>
        <li><a href="#/people">PEOPLE</a></li>
        <li><a href="#/event">EVENT</a></li>
      </ul>
    </div>

    <!-- Main Background -->
    <div class="main_cover">
      <div class="layer">
        <h1>HKSA@UMich</h1>
        <h4>Culture. Friendships. Fun.</h4>
      </div>
    </div>

    <!-- Who are we -->
    <div class="who_are_we col-lg-12">
      <h4 class="col-lg-offset-2 col-lg-8">WHO ARE WE</h4>
      <p class="col-lg-offset-2 col-lg-8">Hong Kong Student Association (HKSA) at the University of Michigan - Ann Arbor is founded in 1990 by a group of Hong Kong students who want to promote HK culture and enhance bonding among HK students. With over 250 members, HKSA strives to organize a wide variety of events and functions for students to participate, regardless of members and non-members.</p>
    </div>

    <!-- What we do -->
    <div class="what_we_do col-lg-12">
      <h4 class="col-lg-offset-2 col-lg-8">WHAT WE DO</h4>
      <div class="wwd_wrapper col-lg-offset-2 col-lg-8">
        <div class="one_wwd col-lg-4 col-sm-12">
           <div class="icon hvr-bounce-in">
             <i class="fa fa-university"></i>
           </div>
           <h5 class="col-lg-12">Promote HK Culture</h5>
           <p class="col-lg-12">We expose people to the interesting cultures of Hong Kong, be it its food, its musics, or its movies</p>
        </div>
        <div class="one_wwd col-lg-4 col-sm-12">
           <div class="icon hvr-bounce-in">
             <i class="glyphicon glyphicon-glass"></i>
           </div>
           <h5 class="col-lg-12">Social Event</h5>
           <p class="col-lg-12">We host social event - let people mingle and build lasting friendships</p>
        </div>
        <div class="one_wwd col-lg-4 col-sm-12">
           <div class="icon hvr-bounce-in">
             <i class="fa fa-suitcase"></i>
           </div>
           <h5 class="col-lg-12">Career Networking</h5>
           <p class="col-lg-12">Join our career workshops to network with alumni and build professional network</p>
        </div>
      </div>
      <div class="clear">
      </div>
    </div>

    <!-- Contact Us -->
    <div class="contact_us col-lg-12">
      <h4 class="col-lg-offset-2 col-lg-8">CONTACT US</h4>
      <div class="contact_wrapper col-lg-offset-4 col-lg-4">
        <a class="col-lg-6" href="mailto:hksaboard@umich.edu"><div class="email glyphicon glyphicon-envelope"></div></a>
        <a class="col-lg-6" target="_blank" href="https://www.facebook.com/hksa.umich?fref=ts&ref=br_tf"><div class="facebook fa fa-facebook"></div></a>
      </div>
      <div class="clear">
      </div>
    </div>

    <!-- Footer -->
    <div class="footer col-lg-12">
      <p class="col-lg-offset-3 col-lg-6">Made by <a target="_blank" href="https://hk.linkedin.com/in/billchan1"><span>Bill Chan</span></a> with Love. <del>Sorry the site is not quite responsive.</del> It's responsive now. Yay!</p>
    </div>
  </div>
</div>